.webpage {
    background-color: rgb(8,8,8);
    padding: 0;
    margin: 0;
    padding-top: 70px;
    font-family: Roboto, Arial;
    height: 2000px;
}

.background-blur {
    background-image: radial-gradient(rgba(167,158,140,0.55),rgba(8,8,8,255));
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 80%, transparent 100%);
    padding-bottom: 150px;
}

p {
    color: rgba(175,175,175,255);
    margin: 0px;
}

.header {
    background-color: rgba(8,8,8,255);
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header,
.left-header,
.mid-header,
.right-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-header {
    width: 550px;
}

.imdb-logo {
    width: 80px; 
    margin-left: 35px;
    margin-right: -20px;   
}

.movies-header,
.shows-header,
.celebs-header,
.watch-header,
.awards-header,
.community-header,
.all-header,
.watchlist-header,
.user-header,
.en-header {
    font-size: 14px;
}

.mid-header {
    flex: 1;
    background-color: rgba(26,26,26,255);
    border-radius: 10px;
    margin-left: 30px;
    height: 35px;
}

.all-header {
    margin-left: 30px;
}

.dropdown-icon {
    height: 5px;
    cursor: pointer;
    margin-right: 0px;
    margin-left: 5px;
}

.search-bar {
    width: 100%;
    background-color: transparent;
    border: none;
    color: rgba(175,175,175,255);
    font-size: 14px;
    height: 30px;
    margin-right: 15px;
    outline: none;
}

.search-button {
    cursor: pointer;
    background-color: rgba(26,26,26,255);
    border: none;
    margin-right: 15px;
}

.search-icon {
    height: 17px;
}

.right-header {
    width: 350px;
}

.watchlist-icon {
    height: 15px;
    cursor: pointer;
}

.watchlist-header,
.user-header,
.dropdown-icon {
    margin-right: 25px;
}

.watchlist-icon {
    margin-left: 25px;
}

.pfp-background {
    display: flex;
    background-color: rgba(175,175,175,255);
    border-radius: 20px;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pfp-icon {
    height: 10px;
}

.brightness-icon {
    height: 15px;
    margin-right: 40px;
}

.movie-carousel {
    margin: 15px 250px 15px 250px;
    display: flex;
    flex-direction: row;
}

.main-movie {
    width: 700px;
    position: relative;
}

.main-movie-shot {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top;
    border-radius: 7px;
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 65%, transparent 85%);
}

.main-movie-poster {
    position: absolute;
    bottom: 0;
    left: 15px;
    height: 300px;
    border-radius: 9px;
}

.main-play-background {
    background-color: rgba(26,26,26,0.4);
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
    position: absolute;
    bottom: 0;
    left: 240px;
    cursor: pointer;
}

.main-movie-play {
    height: 60px;
}

.main-movie-title {
    position: absolute;
    bottom: 15px;
    left: 350px;
    margin-right: 50px;
    font-size: 22px;
    color: white;
}

.main-movie-byline {
    position: absolute;
    left: 350px;
    bottom: -5px;
    color: rgba(108,108,108,255);
}

.upcoming-movies {
    display: flex;
    flex: 1;
    margin-left: 25px;
    flex-direction: column;
}

.upcoming-movies-title {
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}

.featured-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bullet-icon {
    height: 5px;
    margin-right: 7px;
}

.featured-videos {
    font-size: 12px;
    color: white;
}

.browse-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(26,26,26,1);
    border-radius: 10px;
    padding: 0px 12px 0px 15px;
    height: 32px;
}

.browse-heading {
    font-size: 12px;
    margin-right: 7px;
}

.arrow-icon {
    height: 6px;
}

.upcoming-movies-cards {
    display: flex;
    flex-direction: column;
}

.upcoming-card-penguin {
    margin-bottom: 10px;
    margin-top: 10px;
    background-image: url("movie-pictures/shots/the-penguin.jpg");
    background-size: 100%;
    border-radius: 15px;
}

.upcoming-card-front-room {
    margin-bottom: 10px;
    margin-top: 10px;
    background-image: url("movie-pictures/shots/the-front-room.webp");
    background-size: 100%;
    border-radius: 15px;
}

.upcoming-card-house-dragon {
    margin-bottom: 10px;
    margin-top: 10px;
    background-image: url("movie-pictures/shots/house-of-dragon.webp");
    background-size: 100%;
    border-radius: 15px;
}

.upcoming-content {
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    backdrop-filter: brightness(50%);
}

.upcoming-card-poster {
    height: 110px;
    margin: 12px 0px 12px 5px;
    border-radius: 5px;
}

.upcoming-card-runtime {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 12px;
    margin-top: 7px;
}

.upcoming-play-background {
    background-color: rgba(26,26,26,255);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
}

.upcoming-play {
    height: 25px;
}

.upcoming-movie-time {
    margin-left: 15px;
    font-size: 13px;
    color: rgba(108,108,108,255);
}

.upcoming-card-desc {
    margin-left: 15px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.upcoming-card-title {
    font-size: 15px;
    margin-bottom: 12px;
}

.upcoming-card-byline {
    font-size: 12px;
    margin-top: 0px;
}

.top-pick-section {
    display: flex;
    flex: 1;
    margin: -70px 255px 15px 255px;
    justify-content: space-between;
    flex-direction: row;
}

.top-pick-next,
.top-pick-prev {
    height: 12px;
}

.top-pick-controls {
    display: flex;
    padding: 0px;
    height: 40px;
}

.top-pick-prev-bg,
.top-pick-next-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40px;
    border-radius: 50px;
    background-color: rgba(108,108,108,0.15);
}

.top-pick-next-bg {
    margin-left: 10px;
    background-color: rgba(108,108,108,0.5);
}

.top-pick-title {
    display: flex;
    flex-direction: column;
}

.top-pick-heading {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.top-pick-bullet {
    height: 4px;
    margin-right: 7px;
}

.top-pick {
    font-size: 21px;
    margin-right: 7px;
    color: white
}

.top-pick-arrow {
    height: 25px;
}

.top-pick-byline {
    margin-top: 10px;
    color: rgba(108,108,108,255);
    font-size: 12px;
}

.top-pick-carousel {
    margin: 0px 250px 0px 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.top-pick-card {
    display: flex;
    flex-direction: column;
    padding: 7px;
    background: linear-gradient(transparent, rgb(14,14,14));
}

.top-pick-poster {
    height: 200px;
    border-radius: 5px;
    margin: 0px;
}

.top-pick-poster-container {
    position: relative;
}

.top-pick-watchlist {
    position: absolute;
    height: 35px;
    left: 6px;
    top: -3px;
    opacity: 0.55;
}

.top-pick-plus {
    position: absolute;
    left: 20px;
    top: 1px;
    color: white;
    opacity: 0.9;
}

.top-pick-name {
    margin: 0px;
    margin-top: 10px;
}

.top-pick-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 5px 15px 5px;
}

.site-rating,
.user-rating {
    display: flex;
    align-items: center;
}

.star-filled-icon,
.star-empty-icon,
.movie-info img {
    height: 12px;
}

.star-empty-icon,
.movie-info img {
    cursor: pointer;
}

.imdb-rating,
.user-rating p {
    margin-left: 7px;
    font-size: 14px;
}

.trailer-button-bg {
    background-color: rgba(26,26,26,255);
    border: none;
    border-radius: 7px;
    text-align: left;
    padding: 7px 0px 7px 0px;
    cursor: pointer;
}

.trailer-button {
    display: flex;
    align-items: center;
}

.trailer-button img {
    height: 18px;
    margin-left: 10px;
}

.trailer-button p {
    margin-left: 9px;
    font-size: 12px;
}